/* ==== GENERAL STYLES ==== */

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

nav {
  background-color: #333;
  padding: 1rem;
}

nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  text-align: center;
  font-size: 1rem;
  line-height: 2rem;
  font-family: 'Space Mono', monospace;
  padding: .5rem 1rem;
}

nav a:hover {
  color: grey;
  transition: color 0.15 ease-in-out;
}

nav a.active {
  border: 1px solid grey;
  border-radius: 9999px;
}

nav a.active:hover {
  color: #333;
  background-color: #fff;
  transition: background-color .15s ease-in-out;
}


@media (min-width: 768px) {
  
  nav { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  nav a {
    float: right;
  }
  
  .home {
    float: left;
  }
  
   /* Clearfix */
    nav::after {
    content: "";
    clear: both;
    display: block;
  }
  
}

p {
  font-size: 1rem;
  font-family: 'Space Mono', monospace;
}

@media (min-width: 768px) {

  body {
    width: 60%;
    margin: 5.25rem auto 1.25rem;
  }

}

p {
  margin-bottom: 1.25rem;
  padding: .5rem;
}
